{{- $currentPage := . }}

<nav class="navbar is-transparent navbar is-fixed-top" aria-label="main navigation">
	<div class="container">
		<div class="navbar-brand">
			<a class="navbar-item" href="{{ $.Site.BaseURL }}"><img class="logo" src="/assets/images/svgs/pacio.svg" alt="Pacio Logo"><span class="logo-text">Pacio</span></a>
			<div class="navbar-burger burger" data-target="navMenu">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
		<div class="navbar-menu" id="navMenu">
			<div class="navbar-end">
			{{- range .Site.Menus.sectionmenu }}
				<a class="navbar-item {{if or ($currentPage.IsMenuCurrent "sectionmenu" .) ($currentPage.HasMenuCurrent "sectionmenu" .) }} is-active{{end}}" href="{{ .URL | absURL }}">{{ .Name }}</a>
			{{ end }}
			</div>
		</div>
	</div>
</nav> 

	<!-- <nav class="navbar is-transparent navbar is-fixed-top" aria-label="main navigation">
		<div class="container">
			<div class="navbar-brand">
				<a class="navbar-item" href="{{ $.Site.BaseURL }}"><img src="/assets/images/svgs/pacio.svg" alt="Pacio Logo">{{- partial "logo.html" . -}}</a>
				<div class="navbar-burger burger" data-target="navMenu">
				  <span></span>
				  <span></span>
				  <span></span>
				</div>
			</div>
			<div class="navbar-menu" id="navMenu">
				<div class="navbar-end">
				{{- range .Site.Menus.sectionmenu }}
					<a class="navbar-item {{if or ($currentPage.IsMenuCurrent "sectionmenu" .) ($currentPage.HasMenuCurrent "sectionmenu" .) }} is-active{{end}}" href="{{ .URL | absURL }}">{{ .Name }}</a>
				{{ end }}
				</div>
			</div>
		</div>
	</nav> -->
