 {{ partial "nav.html" . }}
<section class="hero header-image pt-40">
    <!-- Hero caption -->
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-12 has-text-centered pt-60">
                <h1 class="is-size-1-desktop is-size-2-tablet is-size-3-mobile">
                    Bringing Businesses into the 21st Century.
                </h1>
            </div>
        </div>
    </div>

</section>
<!-- /Feature Text section -->
<section class="section section-alt">
    <div class="section product-header has-text-centered">
        <div class="container   "></div>
        <div class="columns">
            <div class="column">
                <span class="is-size-1-desktop is-size-3-tablet is-size-5-mobile">
                    <h1>Pacio &nbsp;|&nbsp;Semantic Business Blockchain </h1>
                </span>
            </div>
        </div>
    </div>
    </div>
</section>

<!-- /Feature Text section -->
<!-- UI section -->
<section class="section section-alt">
    <div class="container">
        <!-- UI block -->
        <div class="columns is-vcentered">
            <!-- Content -->
            <div class="column is-6">
                <h3 class="is-size-3-desktop is-size-4-tablet is-size-4-mobile">
                    Bringing Businesses into the 21st Century
                </h3>
                <span class="section-feature-description">Pacio.io brings Semantic Web for Business Data. It allows for easy exchange of accounting and controlling
                    data worldwide. Pacios Blockchain solution enables global accountability – the foundation upon which
                    all economy is built. </span>
            </div>
            <!-- Large UI -->
            <div class="column is-7 is-offset-1">
                <img src="assets/images/globalytics.png" alt="">
            </div>
        </div>
        <!-- /UI block -->
    </div>
</section>

<!-- UI section -->
<section class="section">
    <!-- UI block -->
    <div class="columns is-vcentered">
        <!-- Content -->
        <!-- Large UI -->
        <div class="column is-6 p-50">
            <img src="assets/images/globalytics.png" alt="">
        </div>
        <div class="column is-6 p-50">
            <div class="icon-subtitle">
                <i class="im im-icon-Laptop-Phone"></i>
            </div>
            <h3 class="is-size-3-desktop is-size-4-tablet is-size-4-mobile">
                The challenge: setting standards to end all fraud
            </h3>
            <span>Today it is rather easy to commit tax-fraud because there is no global standard to follow the money. Even an
                US-American corporation finds it difficult to exchange accounting data with it’s own British subsidiary.
                The incompatibility comes from countries and corporations creating Data silos. Pacio connects every single
                one with it’s groundbreaking program.
            </span>
            <br>
            <a href="#">
                <strong>Read more about the global challenge and the Pacio use-cases</strong>
            </a>
        </div>
    </div>
    </div>
    <!-- /UI block -->
    </div>
</section>
<!-- /UI section Ends -->

<!-- UI section -->
<section class="section">
    <!-- UI block -->
    <div class="columns is-vcentered">
        <!-- Content -->
        <div class="column is-6 p-50">
            <div class="icon-subtitle">
                <i class="im im-icon-Laptop-Phone"></i>
            </div>
            <h3 class="is-size-3-desktop is-size-4-tablet is-size-4-mobile">
                Pacio tools to set a global business data standard
            </h3>
            <span class="section-feature-description">
                1. The Pacio blockchain brings security, immutability, incorruptibility and auditability to business data and allows inter
                Blockchain operations</p>
                2. The Standardised Semantic Information Model (SSIM) stores and standardises Data across companies, jurisdictions and accounting
                standards</p>
                3. Single Entry Accounting Done Right! (SEA) is an improvement of the 500-year-old book-keeping tradition that brings accounting
                into the Blockchain-age</p>
                4. Target Average Rate Index (TARI) is well proven method to provide real-time business insight that enables controlling
                when it is needed: now
                <br>
                <a href="#">
                    <strong>Read more about the tools in the Pacio ecosystem</strong>
                </a>
            </span>
        </div>
        <div class="column is-6 p-50">
            <img src="assets/images/globalytics.png" alt="">
        </div>
    </div>
    <!-- /UI block -->
    </div>
</section>
<!-- /UI section -->

<!-- UI section -->
<section class="section">
    <!-- UI block -->
    <div class="columns is-vcentered">
        <!-- Content -->
        <!-- Large UI -->
        <div class="column is-6 p-50">
            <img src="assets/images/globalytics.png" alt="">
        </div>
        <div class="column is-6 p-50">
            <div class="icon-subtitle">
                <i class="im im-icon-Laptop-Phone"></i>
            </div>
            <h3 class="is-size-3-desktop is-size-4-tablet is-size-4-mobile">
                Pio: The token that fuels Pacio
            </h3>
            <span>
                Pacio is an ecosystem for application developers and corporations. They can access the methods via APIs and integrate Pacio
                into their own developments. The motor for this ecosystem is Pacio’s own Pio-Token.</p>
                The token allows:
                <br> • to use Pacio services
                <br> • as a stake in the governance of the Pacio ecosystem
                <br> • a cryptocurrency in it’s own right with unique benefits
            </span>
            <br>
            <a href="#">
                <strong>Read more about the Pio Token</strong>
            </a>
        </div>
    </div>
    </div>
    <!-- /UI block -->
    </div>
</section>
<!-- /Feature Text section -->
<section class="section section-alt">
    <div class="section product-header has-text-centered">
        <div class="columns">
            <div class="column">
                <span class="is-size-3-desktop is-size-3-tablet is-size-5-mobile">
                    <h3>Pacio – the brainchild of leading accountancy pioneer David Hartley </h3>
                </span>
            </div>
        </div>
    </div>
    </div>
</section>

<!-- /Profile Cards-->
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="card" id="profile-card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-96x96">
                                    <img src="/assets/images/profiles/davidjohnhartley.jpg">
                                </figure>
                            </div>
                            <div class="media-content pt-20">
                                <h3>David Hartley</h3>
                            </div>
                        </div>
                        <div class="content">
                            David’s experience has encompassed civil engineering, software
                            <a href="#">more</a>
                        </div>
                        <footer class="card-footer">
                            <p class="card-footer-item">
                                <span>
                                    <a href="#" i class="fa fa-globe">
                                        </i>
                                    </a>
                                </span>
                            </p>
                            <p class="card-footer-item">
                                <span>
                                    <a href="http://www.davidjohnhartley.com/" i class="fab fa-github">
                                        </i>
                                    </a>
                                </span>
                            </p>
                            <p class="card-footer-item">
                                <span>
                                    <a href="http://www.davidjohnhartley.com/" i class="fab fa-linkedin">
                                        </i>
                                    </a>
                                </span>
                            </p>
                            <p class="card-footer-item">
                                <span>
                                    <a href="http://www.davidjohnhartley.com/" i class="fab fa-facebook">
                                        </i>
                                    </a>
                                </span>
                            </p>
                        </footer>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card" id="profile-card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-96x96">
                                    <img src="/assets/images/profiles/keithcleland.jpg">
                                </figure>
                            </div>
                            <div class="media-content pt-20">
                                <h3>Dr Keith N. Cleland</h3>
                            </div>
                        </div>
                        <div class="content">
                            Currently Professor and Head, Financial Management Department
                            <a href="#">more</a>
                        </div>
                        <footer class="card-footer">
                            <p class="card-footer-item">
                                <span>
                                    <a href="#" i class="fa fa-globe">
                                        </i>
                                    </a>
                                </span>
                            </p>
                            <p class="card-footer-item">
                                <span>
                                    <a href="http://www.davidjohnhartley.com/" i class="fab fa-linkedin">
                                        </i>
                                    </a>
                                </span>
                            </p>
                        </footer>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card" id="profile-card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-96x96">
                                    <img src="/assets/images/profiles/trevorwatters.jpg">
                                </figure>
                            </div>
                            <div class="media-content pt-20">
                                <h3>Trevor Watters</h3>
                            </div>
                        </div>
                        <div class="content">
                            Moved from a banking background to grow a CPA Public
                            <a href="#">more</a>
                        </div>
                        <footer class="card-footer">
                            <p class="card-footer-item">
                                <span>
                                    <a href="#" i class="fa fa-globe">
                                        </i>
                                    </a>
                                </span>
                            </p>
                            <p class="card-footer-item">
                                <span>
                                    <a href="http://www.davidjohnhartley.com/" i class="fab fa-linkedin">
                                        </i>
                                    </a>
                                </span>
                            </p>
                        </footer>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card" id="profile-card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-96x96">
                                    <img src="/assets/images/profiles/trevorwatters.jpg">
                                </figure>
                            </div>
                            <div class="media-content pt-20">
                                <h3>Trevor Watters</h3>
                            </div>
                        </div>
                        <div class="content">
                            Moved from a banking background to grow a CPA Public
                            <a href="#">more</a>
                        </div>
                        <footer class="card-footer">
                            <p class="card-footer-item">
                                <span>
                                    <a href="#" i class="fa fa-globe">
                                        </i>
                                    </a>
                                </span>
                            </p>
                            <p class="card-footer-item">
                                <span>
                                    <a href="http://www.davidjohnhartley.com/" i class="fab fa-linkedin">
                                        </i>
                                    </a>
                                </span>
                            </p>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
</section>

<!-- /Profile Cards-->
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="card" id="profile-card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-96x96">
                                    <img src="/assets/images/profiles/davidjohnhartley.jpg">
                                </figure>
                            </div>
                            <div class="media-content pt-20">
                                <h3>David Hartley</h3>
                            </div>
                        </div>
                        <div class="content">
                            David’s experience has encompassed civil engineering, software
                            <a href="#">more</a>
                        </div>
                        <footer class="card-footer">
                            <p class="card-footer-item">
                                <span>
                                    <a href="#" i class="fa fa-globe">
                                        </i>
                                    </a>
                                </span>
                            </p>
                            <p class="card-footer-item">
                                <span>
                                    <a href="http://www.davidjohnhartley.com/" i class="fab fa-github">
                                        </i>
                                    </a>
                                </span>
                            </p>
                            <p class="card-footer-item">
                                <span>
                                    <a href="http://www.davidjohnhartley.com/" i class="fab fa-linkedin">
                                        </i>
                                    </a>
                                </span>
                            </p>
                            <p class="card-footer-item">
                                <span>
                                    <a href="http://www.davidjohnhartley.com/" i class="fab fa-facebook">
                                        </i>
                                    </a>
                                </span>
                            </p>
                        </footer>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card" id="profile-card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-96x96">
                                    <img src="/assets/images/profiles/keithcleland.jpg">
                                </figure>
                            </div>
                            <div class="media-content pt-20">
                                <h3>Dr Keith N. Cleland</h3>
                            </div>
                        </div>
                        <div class="content">
                            Currently Professor and Head, Financial Management Department
                            <a href="#">more</a>
                        </div>
                        <footer class="card-footer">
                            <p class="card-footer-item">
                                <span>
                                    <a href="#" i class="fa fa-globe">
                                        </i>
                                    </a>
                                </span>
                            </p>
                            <p class="card-footer-item">
                                <span>
                                    <a href="http://www.davidjohnhartley.com/" i class="fab fa-linkedin">
                                        </i>
                                    </a>
                                </span>
                            </p>
                        </footer>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card" id="profile-card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-96x96">
                                    <img src="/assets/images/profiles/trevorwatters.jpg">
                                </figure>
                            </div>
                            <div class="media-content pt-20">
                                <h3>Trevor Watters</h3>
                            </div>
                        </div>
                        <div class="content">
                            Moved from a banking background to grow a CPA Public
                            <a href="#">more</a>
                        </div>
                        <footer class="card-footer">
                            <p class="card-footer-item">
                                <span>
                                    <a href="#" i class="fa fa-globe">
                                        </i>
                                    </a>
                                </span>
                            </p>
                            <p class="card-footer-item">
                                <span>
                                    <a href="http://www.davidjohnhartley.com/" i class="fab fa-linkedin">
                                        </i>
                                    </a>
                                </span>
                            </p>
                        </footer>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card" id="profile-card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-96x96">
                                    <img src="/assets/images/profiles/trevorwatters.jpg">
                                </figure>
                            </div>
                            <div class="media-content pt-20">
                                <h3>Trevor Watters</h3>
                            </div>
                        </div>
                        <div class="content">
                            Moved from a banking background to grow a CPA Public
                            <a href="#">more</a>
                        </div>
                        <footer class="card-footer">
                            <p class="card-footer-item">
                                <span>
                                    <a href="#" i class="fa fa-globe">
                                        </i>
                                    </a>
                                </span>
                            </p>
                            <p class="card-footer-item">
                                <span>
                                    <a href="http://www.davidjohnhartley.com/" i class="fab fa-linkedin">
                                        </i>
                                    </a>
                                </span>
                            </p>
                        </footer>
                    </div>
                </div>
            </div>
        </div>

</section>
<!-- /Profile Cards-->

<!-- /Profile Cards-->


<div class="hero-foot">
    {{ partial "footer.html" . }}
</div>