@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Ubuntu:300,400,700');
// Import the rest of Bulma's initial variables
@import "node_modules/bulma/sass/utilities/initial-variables";

// Customization's in partials
// $family-sans-serif: Open Sans, sans-serif;
// $title-stack:  Open Sans, sans-serif;

// New variables 
$family-heading: "Ubuntu", BlinkMacSystemFont, -apple-system, "Helvetica", "Arial", sans-serif;
$family-sans-serif: "Source Sans Pro', sans-serif", BlinkMacSystemFont, -apple-system, "Helvetica", "Arial", sans-serif;

$primary: $orange; 
$info: $blue; 
$success: $green; 
$warning: $yellow; 
$danger: $red; 
$light: $white-ter; 
$dark: $grey-darker;

$orange:       hsl(15.8, 93.9%, 54.7%); 
$yellow:       hsl(40.1, 85.8%, 50.4%); 
$green:        hsl(166.2, 100%, 34.9%);
$turquoise:    hsl(207.7, 56.4%, 45.9%); 
$blue:         hsl(199.6, 97.4%, 45.5%);
$red:          hsl(359.6, 100%, 72.4%);
$smoke-white:  hsl(0, 0%, 99%);
$grey-white:   hsl(0, 0%, 94.9%);
$blue-dark:    hsl(200, 100%, 26.5%);
$blue-darkest: hsl(200.4, 100%, 11%);

$menu-item-active-background-color: $green;
$menu-list-border-left: 1px solid $green;

$radius-large: 1em;
$link: hsl(217, 71%,  53%);
$large-shadow: 0 10px 20px rgba(#000, 0.05);

$card-background-color:	$grey-white;
$card-header-shadow: 0 1px 2px rgba($red, 0.1);
$card-footer-border-top: none;
$card-shadow: 0 2px 3px rgba($black, 0.1), 0 0 0 1px rgba($black, 0.1);
$card-color: $blue-dark;

$pagination-color: $primary;
$pagination-border-color: $primary;
$pagination-current-background-color: $primary;

// Import the rest of Bulma
@import "node_modules/bulma/bulma";

// organise individual bula components after 

html{
    background: $smoke-white;
}
.navbar-brand {
    font-family: $family-heading;
}
body {
    color: $dark;
}
#particles-js {
    height: 100%;
}
.logo-text{
    font-family: $family-heading;
    font-weight: 700;
    font-size: 2rem;
    color: $primary;
}

h1 {
 color: $blue-darkest;
 font-family: $family-sans-serif;
}

h2{
 color: $blue-dark;
 font-family: $family-sans-serif;
}

h3{
 color: $primary;
 font-family: $family-heading;
}

.section-alt {
    background-color: #f0eded;
}

// Timed loop animations that sync for background and foreground, for now just static 
.header-image{ 
      background-image: linear-gradient(rgba(255, 255, 255, 0.99),rgba(0, 0, 0, 0)),url('/assets/images/stock/header-main.svg');
   }

.index-card{
    padding-top: 2em;
}

#profile-card{
    .card-content{
        padding: .5em;
    } 
    }

a {
  color: $link;
}

a:hover {
    color: $orange;
    font-style: none;
}
a:active {
    color: $orange
}
a.nav-item:hover {
    color: $orange;
}
.title {
    color: $blue-darkest;
}
.subtitle {
    color: $blue-dark;
}
ul {
  padding: 0;
}
// HELPER CLASSES 

.mb-20 {
    margin-bottom: 20px;
}
.mb-40 {
    margin-bottom: 40px;
}
.mb-60 {
    margin-bottom: 60px;
}
.mt-40 {
    margin-top: 40px;
}
.mt-50 {
    margin-top: 50px;
}
.mt-60 {
    margin-top: 60px;
}
.ml-30 {
    margin-left: 30px;
}

.huge-pb {
    padding-bottom: 100px;
}
.pb-5 {
    padding-bottom: 5px !important;
}
.pb-10 {
    padding-bottom: 10px !important;
}
.pb-20 {
    padding-bottom: 20px !important;
}
.pt-10 {
    padding-top: 10px !important;
}
.pt-10 {
    padding-top: 10px !important;
}
.pt-20 {
    padding-top: 20px !important;
}
.pt-30 {
    padding-top: 30px !important;
}

// Paper Side Navigation

.menu {
  &.is-scrollable {
      overflow-y: scroll;
      width: auto;
      position: absolute;
  }
}

.is-sidebar-menu {
  padding: 2.5rem;
  background: $grey-white;
  li {
    a {
      color: $blue-dark;
    }
}
}
